NEXT_PUBLIC_API_URI = 

NEXT_PUBLIC_COUDINARY_CLOUD_NAME = 

NEXT_PUBLIC_COUDINARY_API_KEY = 

CLOUDINARY_API_SECRET = 

NEXT_PUBLIC_FRONTEND_URI = 

NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET = 

GOOGLE_CLIENT_ID = 

GOOGLE_CLIENT_SECRET = 

NEXT_PUBLIC_GOOGLE_CLIENT_ID = 

INTERNAL_API_KEY = 

AUTH_SECRET=

JWT_SECRET=

